<!-- jinja2 템플릿 언어를 사용함 -->

<!-- 기본 구조 상속 -->
{% extends "index.html" %}

{% block contents %}
<div id="contents">
    <div class="backImage"></div>
    <div class="wrap">
        <div class="banner">
            <h2>Welcome to AKOMarket!</h2>
            <p>Do you want to trade some coins?</p>
            <p>Then enter our website!</p>
            <a href="/product">Go Trade</a>
        </div>

        <!-- Add a button to display the static image -->
        <!-- <button onclick="showImage()">Show Image</button>-->
    </div>
</div>

<script>
    function showImage() {
        var imagePath = "/static/images/cpg.png";
        window.open(imagePath, "_blank");
    }
</script>
{% endblock %}
